@import "../../components/base/";

/* @define Thanks */
.Thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: var(--Form-font-size-text);
  padding: 0.9rem var(--Form-padding) 2rem;
  background: rgb(var(--color-2));
  color: rgb(var(--color-2));
}

.Thanks::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
}

.Thanks-text {
  max-width: 18em;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: -0.5em;
}

.Thanks-text p {
  margin-top: 0.5em;
}
