@import "../../components/base/";

/* @define Home */
.Home {
  width: 100%;
  height: 100%;
  font-size: var(--Form-font-size-text);
  background: rgb(var(--color-1));
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 1000px) {
  .Home {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row-reverse;
  }
}

.Home-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 70vw;
}

@media (min-width: 350px) {
  .Home-main {
    padding-top: 63vw;
  }
}

@media (min-width: 600px) {
  .Home-main {
    padding-top: 60vw;
  }
}

@media (min-width: 1000px) {
  .Home-main {
    padding-top: 0;
    margin-top: 0;
    overflow: auto;
  }
}

.Home-main p {
  margin: 0.5em 0;
  max-width: 30em;
}

.Home-main p:first-child {
  margin-top: 0;
}

.Home-main p a {
  text-decoration: none;
  border-bottom: var(--Form-border-width) solid;
  color: rgb(var(--color-2));
}

.Home-main p a:hover,
.Home-main p a:focus-visible,
.Home-main p a:active {
  color: rgb(var(--color-3));
}

.Home-main p a:focus-visible {
  background: none;
}

.Home-content {
  padding: 0 var(--Form-padding) 4.3rem;
  position: relative;
}

@media (min-width: 600px) {
  .Home-content {
    padding: 0 var(--Form-space-md) var(--Form-space-md);
  }
}

@media (min-width: 1000px) {
  .Home-main {
    flex: 1 1 auto;
  }

  .Home-content {
    padding-top: var(--Form-space-md);
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.Home-nav {
  /* flex: 1 0 auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.Home-apply {
  display: inline-block;
  margin: 0.5em 1em 1em 0;
  padding: 0.7em 0.6em 0.6em;
  position: relative;
  overflow: hidden;
  font-size: var(--Form-font-size-interface);
  color: rgb(var(--color-1));
  border: var(--Form-border-width) solid rgb(var(--color-2));
  background: rgb(var(--color-2));
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  line-height: 0.9;
}

@media (min-width: 1000px) {
  .Home-apply {
    font-size: 0.85em;
    padding: 1.4em;
    line-height: 0;
  }
}

.Home-apply:hover,
.Home-apply:focus-visible,
.Home-apply:active {
  color: #fff;
  border-color: rgb(var(--color-3));
  background-color: rgb(var(--color-3));
}

.Home-menu {
  font-size: var(--Form-font-size-interface);
  text-decoration: none;
  line-height: 1;
  border-bottom: var(--Form-border-width) solid;
  display: inline-block;
  margin: -0.6rem 0 0 0;
  text-transform: uppercase;
  color: rgb(var(--color-2));
  user-select: none;
}

.Home-menu:hover,
.Home-menu:focus-visible,
.Home-menu:active {
  color: rgb(var(--color-3));
}

.Home-menu:focus-visible {
  background: none;
}

@media (min-width: 600px) {
  .Home-menu {
    margin: -0.4rem 0 1.5rem;
  }
}

@media (min-width: 1000px) {
  .Home-menu {
    font-size: 0.85em;
  }
}

.Home-footer {
  display: flex;
  width: 100%;
  border-top: var(--Form-border-width) solid rgb(var(--color-2));
  position: fixed;
  left: 0;
  bottom: 0;
  height: var(--Form-space-sm);
  background: rgb(var(--color-1));
  align-items: center;
  z-index: 1;
}

.Home-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media (min-width: 1000px) {
  .Home-sidebar {
    flex: 0 0 50%;
    position: relative;
    z-index: 10;
  }
}
