@import "../base";

:root {
  --Intro-size: 1;
}

/* @define Intro */
.Intro {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.Intro-1,
.Intro-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  will-change: transform;
  transform-origin: top;
  height: 50%;
}

.Intro-1 svg,
.Intro-2 svg {
  width: 100%;
  height: 100%;
  padding: 0.9rem;
}

.Intro-1 {
  animation: Intro-1--up 1800ms 1300ms forwards var(--ease-in);
  background: #fff;
}

.Intro-2 {
  transform-origin: bottom;
  top: auto;
  bottom: 0;
  background: rgb(var(--color-default));
  animation: Intro-1--down 1800ms 1300ms forwards var(--ease-in);
}

@media (min-width: 1000px) {
  .Intro-1 {
    animation:
      Intro-1--up-step-1 300ms 1000ms forwards var(--ease),
      Intro-1--up-step-2 200ms 2000ms forwards var(--ease-in);
  }
  .Intro-2 {
    animation:
      Intro-2--down-step-1 300ms 1000ms forwards var(--ease),
      Intro-2--down-step-2 200ms 3000ms forwards var(--ease-in);
  }
}

@keyframes Intro-1--up {
  to {
    transform: translateY(calc(-100% - 1px));
  }
}

@keyframes Intro-1--down {
  to {
    transform: translateY(calc(100% + 1px));
  }
}

@keyframes Intro-1--up-step-1 {
  to {
    transform: scaleY(calc((1 / 3) * 2));
  }
}

@keyframes Intro-1--up-step-2 {
  from {
    transform: scaleY(calc((1 / 3) * 2));
  }
  to {
    transform: scaleY(calc((1 / 3) * 2)) translateY(-100%);
  }
}

@keyframes Intro-2--down-step-1 {
  to {
    transform: scaleY(calc((1 / 3) * 2));
  }
}

@keyframes Intro-2--down-step-2 {
  from {
    transform: scaleY(calc((1 / 3) * 2));
  }
  to {
    transform: scaleY(calc((1 / 3) * 2)) translateY(100%);
  }
}

.Intro-blocks {
  display: flex;
}

.Intro-year {
  position: relative;
  flex: 0 0 50%;
  background: rgb(var(--color-feature));
  color: rgb(var(--color-feature));
}

.Intro-year::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
}

.Intro-year svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  width: 33%;
}

.Intro-logo {
  flex: 0 0 50%;
  padding: 0.9rem;
  background: #fff;
}

.Intro-logo svg {
  display: block;
  width: 100%;
  height: auto;
}

.Intro-title {
  text-transform: uppercase;
  font-size: 16vw;
  line-height: 0.88;
  font-weight: bold;
  padding: 0.9rem 0;
  margin: -0.06em 0 -0.13em;
  background: rgb(var(--color-highlight));
}

.Intro-title span {
  display: block;
  text-align: center;
}


@media (min-width: 1000px) {
  .Intro {
    display: flex;
    flex-direction: column;
  }

  .Intro-title {
    font-size: 8.2vw;
    color: rgb(var(--color-highlight));
    background: rgb(var(--color-default));
    flex: 0 0 calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .Intro-blocks {
    flex: 0 0 calc((100% / 3) * 2);
    flex-direction: column;
  }

  .Intro-year svg {
    height: 19%;
    width: auto;
  }

  .Intro-logo svg {
    width: auto;
    height: calc((100vh / 3) - 1.8rem);
    margin: 0 auto;
  }
}